{
  "user_id": "rpg_bot_test",
  "overrides": {
    "BOT_LIST": [
      "coherence_bot",
      "evi",
      "news_bot_v2",
      "wiki_bot_mongo",
      "persona"
    ],
    "PRIORITY_BOTS": [
      "coherence_bot",
      ["news_bot_v2", "wiki_bot_mongo"],
      "persona", 
      "evi"
    ]
  }
}
